body {
    font-family: 'Poppins', sans-serif;
}

.btn-info {
    color: white;
    background-color: #289BDE;
    padding: 13px 28px;
}

.btn-info:hover {
    color: white;
}

.inside-text {
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-item {
    /* background-image: linear-gradient(rgba(29, 29, 29, 0.9)) !important; */
    background: linear-gradient(to top, #fff000 0%, #000fff 100%) !important;
}

@media (max-width:1200px) {
    .carousel-item h1 {
        font-size: 36px !important;
    }
}

@media (max-width:769px) {
    .carousel-item h1 {
        font-size: 20px !important;
    }

    .carousel-item p {
        font-size: 10px !important;
    }

    .register-button {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 577px) {
    .carousel-item h1 {
        font-size: 16px !important;
    }

    .carousel-item p {
        font-size: 8px !important;
    }

    .carousel-item .btn {
        font-size: 8px;
    }

    .course {
        flex-direction: column;
    }

    .discover {
        width: 100% !important;
        padding: 0 !important;
    }

    .register-button {
        flex-direction: column;
    }
}